.projectsMenuLink {
    list-style-type: none;
    text-align: center;
    font-size: 18px;
    text-align: center;
    border-radius: 0px;
  }

  A.projectsLink { color: none }

  A:link.projectsLink { text-decoration: none; }

  A:active.projectsLink { text-decoration: none; }

  A:hover.projectsLink { color: rgb(255, 7, 201); text-decoration: none; }