ul.projectsMenuBar {
    margin: 0px;
    margin-bottom: 15px;
    position: relative;
    padding: 0px;
  }

li.projectsMenuLink {
    list-style-type: none;
    margin-left: 3px;
    margin-right: 3px;
    padding: 25px;
    text-align: center;
    font-size: 18px;
    text-align: justify;
  }

  .projectsLink {
    font-size: 28px;
    width: 80%;
    margin: auto;
  }

  A.projectsLink { color: none }

  A:link.projectsLink { text-decoration: none; }

  A:active.projectsLink { text-decoration: none; }

  A:hover.projectsLink { color: rgb(255, 7, 201); text-decoration: none; }