.projectsMenuLink {
    list-style-type: none;
    text-align: center;
    font-size: 18px;
  }

  .smallProjectsMenuLink {
    list-style-type: none;
    font-size: 14px;
    text-decoration: none;
  }

  A.projectsLink { color: none }

  A:link.projectsLink { text-decoration: none; }

  A:active.projectsLink { text-decoration: none; }

  A:hover.projectsLink { color: rgb(255, 7, 201); text-decoration: none; }

  @media screen and (max-width: 1000px) {
    .imgBox {
        display: none;
    }
    .newBox {
        display: inline-block;
        margin: auto;
    }
}