h1 {
  margin: auto;
  text-align: center;
  padding: 30px;
  font-size: calc(18px + 3vmin);
}

h1.siteTitle {
  font-size: calc(26px + 6vmin);
  letter-spacing: 6px;
}

.App-header {
  background-color: #282c34;
  min-height: 18vh;
  display: flex;
  flex-direction: row;
  font-size: calc(12px + 2vmin);
  color: white;
  text-transform: uppercase;
}

.App-body {
  background-color: lightblue;
  display: inline-block;
  color: black;
  padding: 15px;
  margin: 0px;
  min-width: 100%;
  text-align: center;
}

.App-navbar {
  border-color: rgb(255, 169, 169);
  border-width: 2px;
  border-style: inset;
  text-transform: uppercase;
}

.wrapper {
  margin: 0px;
  padding: 0px;
  min-height: 100%;
}

.App-footer {
  background-color: #282c34;
  max-height: 18vh;
  font-size: calc(18px + 2vmin);
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 30px;
  margin: 0px;
}

.App-link {
  color: #61dafb;
}

.bookTitleBox {
  padding: 20px;
  margin: auto;
  width: 15vh;
}