ul.resultsBoxes {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

li.eachResult {
    list-style-type: none;
    background-color: white;
    border-radius: 25px;
    font-size: calc(12px + 2vmin);
    margin: 35px;
}

.formInput {
    max-width: 50%;
    margin: auto;
    text-align: center;
}

.centeredContent {
    max-width: 50%;
    margin: auto;
    text-align: center;
}

P.bookTitle {
display: flex;
text-align: justify;
}

p.bookAuthors {
    font-size: 14px;
    display: flex;
    text-align: left;
    letter-spacing: 2px;
}

p.bookDesc {
    font-size: 16px;
    display: inline-block;
    text-align: left;
}

p.bookCat {
    font-size: 12px;
    display: flex;
    text-align: justify;
}

img.bookImg {
    margin: 5px;
}

A.bookLink { color: blue; text-decoration: none; font-size: 22px;}

A:link.bookLink { text-decoration: none }

A:active.bookLink { text-decoration: none }

A:hover.bookLink { text-decoration: none; text-shadow: 1px 1px #555eb4; }