.mainHomeBody {
    min-height: 75vh;
    background-image: url("./HackLassonde-small.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: top;
}

.homeSpacer {
    min-height: 275px;
}

.headlineText {
    background-color:#A37E97;
}

.taglineText {
    color: #F1F3EE;
    background-color: #A89560;
    font-size: 24px;
    letter-spacing: 2px;
    font-style: italic;
}