.videoSpacer {
    margin: auto;
    text-align: center;
}

.overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
}

span.videoCaption {
    position: absolute;
    z-index: 1;
    color: white;
    letter-spacing: 7px;
    font-size: 15px;
    font-style: oblique;
    text-align: center;
    padding: 45px;
}

.homevideobody {
    margin: 0px;
    padding: 0px;
    min-height: 50vh;
}
