ul.gameBar {
    display: flex;
    flex-direction: row;
    border-color: rgb(214, 3, 151);
    border-width: 12px;
    border-style: inset;
    text-transform: uppercase;
    font-weight: bold;
}

li.gameBars {
    display: inline;
    margin: auto;
    font-size: calc(14px + 2vmin);
    padding: 25px;
}
