ul.gameBar {
    display: flex;
    flex-direction: row;
    border-color: rgb(214, 3, 151);
    border-width: 12px;
    border-style: inset;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
}

li.matchCounter {
    display: inline;
    margin: auto;
    font-size: calc(8px + 3vmin);
    padding: 25px;
}

li.gameDesc {
    display: inline;
    margin: auto;
    font-size: calc(2px + 3vmin);
    padding: 15px;
    color: darkmagenta;
}