ul.gameBox {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    margin-bottom: 5vh;
}

li.clickyBoxes {
    list-style-type: none;
    display: inline-block;
}

img.clickyBoxes {
    width: 250px;
    height: 225px;
    margin: 5px;
    border: inset;
    border-color: red;
    border-width: 8px;
}

.gameOver {
    text-align: center;
    margin: 150px;
    font-weight: bolder;
}

.gameOverButton {
    text-align: center;
    font-size: 25px;
    background-color: red;
    padding: 15px;
    font-weight: bolder;
}