.gameBox {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.clickyBoxes {
    list-style-type: none;
    display: inline-flex;
    margin: 0px;
    padding: 0px;
}

.clickyImg {
    width: 150px;
    height: 150px;
    margin: 10px;
    border: inset;
    padding: 0px;
}

.gameOver {
    text-align: center;
    font-weight: bolder;
    width: 80%;
    margin: auto;
    margin-top: 25px;
}

.gameOverButton {
    text-align: center;
    font-size: 25px;
    padding: 15px;
    font-weight: bolder;
}