.titleBacker {
    color: #515d5e;
    background-color: #f1f3ee;
    font-size: 32px;
    padding: 35px;
    width: 90%;
    margin: auto;
    text-align: middle;
}

.subTitleBacker {
    color: #515d5e;
    background-color: #f1f3ee;
    font-size: 24px;
    padding: 25px;
    width: 90%;
    margin: auto;
    text-align: middle;
}

.bodyBacker {
    color: #515d5e;
    background-color: #f1f3ee;
    padding: 40px;
    width: 90%;
    margin: auto;
    text-align: middle;
    align-content: middle;
}

.demoImage {
    width: 90%;
    height: auto;
}

.projectsLink {
    font-weight: bold;
    font-size: 18px;
    color: darkblue;
    margin: 5px;
}

.linkTextSize {
    font-size: 18px;
}

.briefText {
    font-size: 22px;
}


@media only screen and (max-width: 600px) {
    .titleBacker {
        color: #515d5e;
        background-color: #f1f3ee;
        font-size: 24px;
        padding: 15px;
        width: 90%;
        margin: auto;
        }

    .briefText {
        font-size: 18px;
    }
}