.demoImage {
    width: 90%;
    height: auto;
}

.projectsLink {
    display: inline-flex;
}

.briefText {
    font-size: 20px;
}

.projectExternalLink {
    font-weight: bold;
    font-size: 16px;
    color: darkblue;
    margin: 5px;
}