li.resultsBoxes {
    list-style-type: none;
    display: inline;
}

img.clickyBoxes {
    width: 150px;
    height: 125px;
    margin: 5px;
    box-shadow: inset x y blur spread color;
}

ul.giphySearchBar {
    display: inline-flex;
    flex-direction: row;
}

li.giphySearch {
    list-style-type: none;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    text-align: justify;
    font-size: 18px;
}

.matchBox {
    width: 90%;
}

.vignette {
    -webkit-box-shadow:
          inset 0 0 50px #000,
                  inset 0 0 50px #000,
                  inset 0 0 50px #000;
    
       -moz-box-shadow:
          inset 0 0 50px #000,
                  inset 0 0 50px #000,
                  inset 0 0 50px #000;
    
            box-shadow:
          inset 0 0 50px #000,
                  inset 0 0 50px #000,
                  inset 0 0 50px #000;
  }



