ul.matchBox {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    margin-bottom: 5vh;
}

li.resultsBoxes {
    list-style-type: none;
    display: inline-block;
}

img.clickyBoxes {
    width: 250px;
    height: 225px;
    margin: 5px;
}

input#search {
    width: 500px;
    margin-right: 50px;
    text-align: center;
}

button#giphySearchButton {
    width: 300px;
}

.giphySearchBar {
    display: inline-block;
    min-width: 100%;
    padding-left: 25px;
    padding-right: 25px;
}

.formInput {
display: inline-flex;
padding: 50px;
padding-top: 5px;
}

