  ul.App-navbar {
    margin: 35px;
    margin-left: 5px;
    margin-right: 45px;
    position: sticky;
    padding: 10px;
  }

  li.menuLink {
    list-style-type: none;
    margin-left: 3px;
    margin-right: 3px;
    padding: 15px;
    text-align: center;
    font-size: 24px;
    text-align: justify;
  }

  img.linkedinLink {
    width: 40px;
  }

  img.githubLink {
    width: 40px;
  }
  
  A { color: white }

  A:link { text-decoration: none; }

  A:active { text-decoration: none; }

  A:hover { color: rgb(255, 7, 201); text-decoration: none; }