.hideMe {
    display: none;
}

.contactFormSpacer {
    width: 80%;
    padding: 25px;
    margin: auto;
    margin-bottom: 0px;
    background-color: transparent;
}

.contactBody {
    background-color: transparent;
    min-height: 60vh;
    font-size: calc(5px + 2vmin);
    padding: 15px;
    margin: 0px;
  }

.contact-form {
    padding: 50px;
    background-color: #f1f3ee;
}

.form-text {
    font-weight: bold;
    color: #515d5e;
}